In [18]:
import mysql.connector
from dotenv import load_dotenv
from datetime import datetime
import pandas as pd
import os
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

pd.set_option('precision', 2)

In [19]:
def connect_to_SQL():
    load_dotenv()
    username, password = os.getenv("USERNAME"), os.getenv("PASSWORD")
    conn = mysql.connector.connect(user=os.getenv("USERNAME"), password=os.getenv("PASSWORD"),
                                   host='127.0.0.1')
    engine = create_engine(f'mysql+pymysql://{username}:{password}@localhost/baseballStats_db')
    cursor = conn.cursor()
    return cursor, conn, engine

In [20]:
cursor, conn, engine = connect_to_SQL()
connection = engine.connect()

In [21]:
career_batting_stats = pd.read_sql('CareerBattingStats', engine, index_col='PlayerID')

In [22]:
player_bios = pd.read_sql('PlayerBios', engine, index_col='PlayerID')
player_names = pd.read_sql('PlayerNames', engine, index_col='PlayerID')
hall_of_fame = pd.read_sql('HallOfFame', engine, index_col = 'PlayerID')

In [23]:
career_batting_df = career_batting_stats.join(player_bios, on = ['PlayerID'])
career_batting_df = career_batting_df.join(player_names, on = ['PlayerID'])
career_batting_df = career_batting_df.join(hall_of_fame, on = ['PlayerID'])
career_batting_df[['PlayerName','Games', 'AtBats', 'Runs', 'Hits', 'Homeruns', 'RBI', 'debutDate', 'finalGameDate', 'CareerLength_Years','birthState', 'YearOfInduction' ]]

,PlayerName,Games,AtBats,Runs,Hits,Homeruns,RBI,debutDate,finalGameDate,CareerLength_Years,birthState,YearOfInduction
PlayerID,,,,,,,,,,,,
aaroh101,Hank Aaron,3298,12364,2174,3771,755,2297,1954-04-13,1976-10-03,23,Alabama,1982.0
aarot101,Tommie Aaron,437,944,102,216,13,94,1962-04-10,1971-09-26,10,Alabama,NaN
abada001,Andy Abad,15,21,1,2,0,0,2001-09-10,2006-04-13,6,Florida,NaN
abboj002,Jeff Abbott,233,596,82,157,18,83,1997-06-10,2001-09-29,5,Georgia,NaN
abbok002,Kurt Abbott,702,2044,273,523,62,242,1993-09-07,2001-04-13,9,Ohio,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
zulej001,Julio Zuleta,79,174,24,43,9,36,2000-04-06,2001-06-25,2,Panama,NaN
zunim001,Mike Zunino,705,2226,244,446,108,283,2013-06-12,2020-10-27,8,Florida,NaN
zupcb001,Bob Zupcic,319,795,99,199,7,80,1991-09-07,1994-08-04,4,Pennsylvania,NaN
zupof101,Frank Zupo,16,18,3,3,0,0,1957-07-01,1961-05-09,5,California,NaN
zuvep001,Paul Zuvella,209,491,41,109,2,20,1982-09-04,1991-05-02,10,California,NaN

In [24]:
def inHallOfFame(yearOfInduction):
    return yearOfInduction!=0

In [25]:
career_batting_df['All Players PCTILE'] = career_batting_df['Homeruns'].rank(pct = True)
career_batting_df = career_batting_df.fillna(0)
career_batting_df['InHallOfFame'] = career_batting_df['YearOfInduction'].apply(inHallOfFame)
career_batting_df
career_batting_df['InHallOfFame'].value_counts()

False    4539
True       82
Name: InHallOfFame, dtype: int64

In [26]:
usborn_batting_stats = career_batting_df[career_batting_df['birthCountry'] == 'USA']
usborn_batting_stats

,Games,AtBats,Runs,Hits,Doubles,Triples,Homeruns,RBI,Walks,IntentionalWalks,...,bats,throws,CareerLength_Years,MonthsExtra,birthState,birthCountry,PlayerName,YearOfInduction,All Players PCTILE,InHallOfFame
PlayerID,,,,,,,,,,,,,,,,,,,,,
aaroh101,3298,12364,2174,3771,624,98,755,2297,1402,293,...,R,R,23,5,Alabama,USA,Hank Aaron,1982.0,1.00,True
aarot101,437,944,102,216,42,6,13,94,86,3,...,R,R,10,5,Alabama,USA,Tommie Aaron,0.0,0.46,False
abada001,15,21,1,2,0,0,0,0,4,0,...,L,L,6,7,Florida,USA,Andy Abad,0.0,0.05,False
abboj002,233,596,82,157,33,2,18,83,38,2,...,R,L,5,3,Georgia,USA,Jeff Abbott,0.0,0.51,False
abbok002,702,2044,273,523,109,23,62,242,133,11,...,R,R,9,7,Ohio,USA,Kurt Abbott,0.0,0.74,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zubej001,68,136,13,34,7,1,3,16,12,1,...,L,L,3,5,California,USA,Jon Zuber,0.0,0.25,False
zunim001,705,2226,244,446,100,3,108,283,164,1,...,R,R,8,4,Florida,USA,Mike Zunino,0.0,0.84,False
zupcb001,319,795,99,199,47,4,7,80,57,3,...,R,R,4,10,Pennsylvania,USA,Bob Zupcic,0.0,0.36,False
zupof101,16,18,3,3,1,0,0,0,2,0,...,L,R,5,10,California,USA,Frank Zupo,0.0,0.05,False
zuvep001,209,491,41,109,17,2,2,20,34,1,...,R,R,10,7,California,USA,Paul Zuvella,0.0,0.20,False

## Total number of batters from each state

In [27]:
usborn_batting_stats['birthState'].value_counts()

California        852
Florida           234
Texas             224
New York          180
Illinois          178
Pennsylvania      153
Ohio              151
Georgia           117
Alabama           102
North Carolina     92
Michigan           88
Missouri           87
Oklahoma           79
New Jersey         76
Mississippi        71
Virginia           69
Louisiana          67
South Carolina     63
Washington         60
Indiana            58
Massachusetts      55
Tennessee          54
Arizona            47
Kentucky           44
Oregon             39
Arkansas           37
Maryland           36
Wisconsin          35
Connecticut        34
Iowa               33
Minnesota          33
Kansas             32
West Virginia      26
Nebraska           20
Nevada             19
D.C.               16
Hawaii             14
Colorado           13
Delaware           11
Rhode Island       10
New Mexico         10
South Dakota        8
Montana             7
Wyoming             6
North Dakota        6
Idaho               6
Utah                6
Alaska              5
New Hampshire       5
Vermont             4
Maine               3
Name: birthState, dtype: int64

In [28]:
state_group = usborn_batting_stats.groupby('birthState')
usborn_batting_stats = usborn_batting_stats.copy()
usborn_batting_stats['State HR PCTILE'] = state_group[['Homeruns']].rank(pct=True)

## Shows the leading All-Time HR hitter for each state

- This analysis shows the percentile of the Homeruns to the highest recorded career stat for someone from a given state
- For example this reads as Hank Aaron is in the 100th percentile since he owns the record for the most Homeruns for a person born in Alabama

In [32]:
def getHRAVGForBirthState(state):
    state_group = usborn_batting_stats.groupby('birthState')
    avg_hrs_per_state = dict(state_group['Homeruns'].mean())
    return avg_hrs_per_state[state]

In [33]:
state_avg_df = usborn_batting_stats.copy()[['PlayerName','Homeruns', 'finalGameDate','State HR PCTILE','All Players PCTILE', 'birthState','InHallOfFame' ]]
state_avg_df['AverageHRPerState'] = state_avg_df['birthState'].apply(getHRAVGForBirthState)
state_avg_df[['PlayerName','birthState', 'State HR PCTILE', 'All Players PCTILE', 'finalGameDate', 'Homeruns', 'AverageHRPerState', 'InHallOfFame']]
state_avg_df.sort_values(by='State HR PCTILE', ascending =False).head(25)

,PlayerName,Homeruns,finalGameDate,State HR PCTILE,All Players PCTILE,birthState,InHallOfFame,AverageHRPerState
PlayerID,,,,,,,,
aaroh101,Hank Aaron,755,1976-10-03,1.0,1.00,Alabama,True,71.16
mantm101,Mickey Mantle,536,1968-09-28,1.0,1.00,Oklahoma,True,63.96
bondb001,Barry Bonds,762,2007-09-26,1.0,1.00,California,False,52.08
kubej002,Jason Kubel,140,2014-06-06,1.0,0.89,South Dakota,False,39.38
konep001,Paul Konerko,439,2014-09-28,1.0,0.99,Rhode Island,False,85.80
kinsi001,Ian Kinsler,257,2019-08-12,1.0,0.96,Arizona,False,39.62
kingd001,Dave Kingman,442,1986-10-05,1.0,0.99,Oregon,False,62.97
kiner101,Ralph Kiner,369,1955-09-25,1.0,0.98,New Mexico,True,92.00
killh102,Harmon Killebrew,573,1975-09-26,1.0,1.00,Idaho,True,113.00
vaugm001,Mo Vaughn,328,2003-05-02,1.0,0.98,Connecticut,False,53.56
aloum001,Moises Alou,332,2008-06-10,1.0,0.98,Georgia,False,57.76
bretg001,George Brett,317,1993-10-03,1.0,0.98,West Virginia,True,61.35
huntt001,Torii Hunter,353,2015-10-03,1.0,0.98,Arkansas,False,80.41
howar001,Ryan Howard,382,2016-10-02,1.0,0.99,Missouri,False,57.23
hortw101,Willie Horton,325,1980-10-05,1.0,0.98,Virginia,False,48.54
hodgg101,Gil Hodges,370,1963-05-05,1.0,0.98,Indiana,False,46.52
heltt001,Todd Helton,369,2013-09-29,1.0,0.98,Tennessee,False,56.59
lowej001,John Lowenstein,116,1985-05-04,1.0,0.85,Montana,False,27.57
troum001,Mike Trout,302,2020-09-25,1.0,0.97,New Jersey,False,42.93
harpb003,Bryce Harper,232,2020-09-27,1.0,0.95,Nevada,False,46.58
blakc001,Casey Blake,167,2011-08-31,1.0,0.91,Iowa,False,30.61
simsd101,Duke Sims,100,1974-09-26,1.0,0.83,Utah,False,25.67
shefg001,Gary Sheffield,509,2009-09-30,1.0,1.00,Florida,False,60.21
schmm001,Mike Schmidt,548,1989-05-28,1.0,1.00,Ohio,True,57.46
santr102,Ron Santo,342,1974-09-29,1.0,0.98,Washington,True,58.23

## This DF is sorted by Homeruns
- Notice some of the State HR Percentiles are less than 1 this means someone from that state is higher than that person

In [34]:
state_avg_df.sort_values(by='Homeruns', ascending =False).head(25)

,PlayerName,Homeruns,finalGameDate,State HR PCTILE,All Players PCTILE,birthState,InHallOfFame,AverageHRPerState
PlayerID,,,,,,,,
bondb001,Barry Bonds,762,2007-09-26,1.00,1.00,California,False,52.08
aaroh101,Hank Aaron,755,1976-10-03,1.00,1.00,Alabama,True,71.16
rodra001,Alex Rodriguez,696,2016-08-12,1.00,1.00,New York,False,54.37
maysw101,Willie Mays,660,1973-10-16,0.99,1.00,Alabama,True,71.16
grifk002,Ken Griffey,630,2010-05-31,1.00,1.00,Pennsylvania,True,59.39
thomj002,Jim Thome,612,2012-10-11,1.00,1.00,Illinois,True,51.30
robif103,Frank Robinson,586,1976-09-18,1.00,1.00,Texas,True,56.76
mcgwm001,Mark McGwire,583,2001-10-14,1.00,1.00,California,False,52.08
killh102,Harmon Killebrew,573,1975-09-26,1.00,1.00,Idaho,True,113.00
jackr001,Reggie Jackson,563,1987-10-04,0.99,1.00,Pennsylvania,True,59.39
schmm001,Mike Schmidt,548,1989-05-28,1.00,1.00,Ohio,True,57.46
mantm101,Mickey Mantle,536,1968-09-28,1.00,1.00,Oklahoma,True,63.96
mccow101,Willie McCovey,521,1980-07-06,0.98,1.00,Alabama,True,71.16
willt103,Ted Williams,521,1960-09-28,1.00,1.00,California,True,52.08
mathe101,Eddie Mathews,512,1968-10-06,0.99,1.00,Texas,True,56.76
banke101,Ernie Banks,512,1971-09-26,0.99,1.00,Texas,True,56.76
shefg001,Gary Sheffield,509,2009-09-30,1.00,1.00,Florida,False,60.21
murre001,Eddie Murray,504,1997-09-20,1.00,1.00,California,True,52.08
mcgrf001,Fred McGriff,493,2004-07-15,1.00,1.00,Florida,False,60.21
starw101,Willie Stargell,475,1982-10-03,0.99,0.99,Oklahoma,True,63.96
musis101,Stan Musial,475,1963-09-29,0.99,0.99,Pennsylvania,True,59.39
jonec004,Chipper Jones,468,2012-10-05,0.99,0.99,Florida,True,60.21
winfd001,Dave Winfield,465,1995-10-01,1.00,0.99,Minnesota,True,70.18
dunna001,Adam Dunn,462,2014-09-28,0.99,0.99,Texas,False,56.76
yastc101,Carl Yastrzemski,452,1983-10-02,0.99,0.99,New York,True,54.37

## Dataframe Showing Average Career Homeruns For Each Birth State

In [35]:
usborn_batting_stats.groupby('birthState')[['Homeruns']].mean().sort_values(by = 'Homeruns', ascending =False)

                Homeruns
birthState
Vermont           118.75
Idaho             113.00
New Mexico         92.00
Rhode Island       85.80
Arkansas           80.41
Alabama            71.16
Minnesota          70.18
North Dakota       65.83
Maryland           64.00
Oklahoma           63.96
Delaware           63.82
Wyoming            63.50
Oregon             62.97
West Virginia      61.35
Florida            60.21
Pennsylvania       59.39
Washington         58.23
Georgia            57.76
Kentucky           57.57
Ohio               57.46
Missouri           57.23
Texas              56.76
Tennessee          56.59
South Carolina     55.98
New York           54.37
Connecticut        53.56
Mississippi        52.89
California         52.08
Michigan           51.38
Illinois           51.30
Kansas             50.84
Louisiana          49.45
Virginia           48.54
Nebraska           46.80
Nevada             46.58
Indiana            46.52
Massachusetts      43.85
North Carolina     43.76
New Jersey         42.93
Arizona            39.62
South Dakota       39.38
Wisconsin          36.71
Hawaii             36.00
D.C.               32.44
Iowa               30.61
New Hampshire      28.00
Montana            27.57
Utah               25.67
Colorado           24.00
Maine              17.33
Alaska             16.60

In [36]:
career_batting_df

,Games,AtBats,Runs,Hits,Doubles,Triples,Homeruns,RBI,Walks,IntentionalWalks,...,bats,throws,CareerLength_Years,MonthsExtra,birthState,birthCountry,PlayerName,YearOfInduction,All Players PCTILE,InHallOfFame
PlayerID,,,,,,,,,,,,,,,,,,,,,
aaroh101,3298,12364,2174,3771,624,98,755,2297,1402,293,...,R,R,23,5,Alabama,USA,Hank Aaron,1982.0,1.00,True
aarot101,437,944,102,216,42,6,13,94,86,3,...,R,R,10,5,Alabama,USA,Tommie Aaron,0.0,0.46,False
abada001,15,21,1,2,0,0,0,0,4,0,...,L,L,6,7,Florida,USA,Andy Abad,0.0,0.05,False
abboj002,233,596,82,157,33,2,18,83,38,2,...,R,L,5,3,Georgia,USA,Jeff Abbott,0.0,0.51,False
abbok002,702,2044,273,523,109,23,62,242,133,11,...,R,R,9,7,Ohio,USA,Kurt Abbott,0.0,0.74,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zulej001,79,174,24,43,11,0,9,36,10,1,...,R,R,2,2,Panama,Panama,Julio Zuleta,0.0,0.40,False
zunim001,705,2226,244,446,100,3,108,283,164,1,...,R,R,8,4,Florida,USA,Mike Zunino,0.0,0.84,False
zupcb001,319,795,99,199,47,4,7,80,57,3,...,R,R,4,10,Pennsylvania,USA,Bob Zupcic,0.0,0.36,False
zupof101,16,18,3,3,1,0,0,0,2,0,...,L,R,5,10,California,USA,Frank Zupo,0.0,0.05,False
zuvep001,209,491,41,109,17,2,2,20,34,1,...,R,R,10,7,California,USA,Paul Zuvella,0.0,0.20,False

# Country Analysis

In [37]:
career_batting_df
career_batting_df['birthCountry'].value_counts()

USA                   3675
Dominican Republic     295
Venezuela              192
Puerto Rico            161
Cuba                    82
Canada                  39
Mexico                  38
Panama                  31
Japan                   15
Colombia                13
Curacao                 10
Virgin Islands           9
Australia                6
South Korea              6
West Germany             5
Taiwan                   4
Netherlands              4
Bahamas                  4
Nicaragua                4
Germany                  3
Jamaica                  3
Brazil                   2
Honduras                 2
Aruba                    2
Canal Zone               2
France                   2
Italy                    2
Singapore                1
England                  1
Belgium                  1
British Honduras         1
South Africa             1
Spain                    1
American Samoa           1
Saudi Arabia             1
Scotland                 1
Czechoslovakia           1
Name: birthCountry, dtype: int64

In [38]:
country_batting_stats_group = career_batting_df.groupby('birthCountry')

country_batting_df = career_batting_df.copy()
country_batting_df['Country HR PCTILE'] = country_batting_stats_group[['Homeruns']].rank(pct=True)
country_batting_df

,Games,AtBats,Runs,Hits,Doubles,Triples,Homeruns,RBI,Walks,IntentionalWalks,...,throws,CareerLength_Years,MonthsExtra,birthState,birthCountry,PlayerName,YearOfInduction,All Players PCTILE,InHallOfFame,Country HR PCTILE
PlayerID,,,,,,,,,,,,,,,,,,,,,
aaroh101,3298,12364,2174,3771,624,98,755,2297,1402,293,...,R,23,5,Alabama,USA,Hank Aaron,1982.0,1.00,True,1.00
aarot101,437,944,102,216,42,6,13,94,86,3,...,R,10,5,Alabama,USA,Tommie Aaron,0.0,0.46,False,0.45
abada001,15,21,1,2,0,0,0,0,4,0,...,L,6,7,Florida,USA,Andy Abad,0.0,0.05,False,0.05
abboj002,233,596,82,157,33,2,18,83,38,2,...,L,5,3,Georgia,USA,Jeff Abbott,0.0,0.51,False,0.51
abbok002,702,2044,273,523,109,23,62,242,133,11,...,R,9,7,Ohio,USA,Kurt Abbott,0.0,0.74,False,0.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zulej001,79,174,24,43,11,0,9,36,10,1,...,R,2,2,Panama,Panama,Julio Zuleta,0.0,0.40,False,0.32
zunim001,705,2226,244,446,100,3,108,283,164,1,...,R,8,4,Florida,USA,Mike Zunino,0.0,0.84,False,0.84
zupcb001,319,795,99,199,47,4,7,80,57,3,...,R,4,10,Pennsylvania,USA,Bob Zupcic,0.0,0.36,False,0.35
zupof101,16,18,3,3,1,0,0,0,2,0,...,R,5,10,California,USA,Frank Zupo,0.0,0.05,False,0.05
zuvep001,209,491,41,109,17,2,2,20,34,1,...,R,10,7,California,USA,Paul Zuvella,0.0,0.20,False,0.20

In [40]:
def getHRAVGForCountry(country):
    country_group = country_batting_df.groupby('birthCountry')
    avg_hrs_per_country = dict(country_group['Homeruns'].mean())
    return avg_hrs_per_country[country]

In [41]:
country_avg_df = country_batting_df[['PlayerName','Homeruns', 'finalGameDate','Country HR PCTILE', 'All Players PCTILE', 'birthCountry','InHallOfFame' ]]
country_avg_df = country_avg_df.copy()
country_avg_df['AverageHRPerCountry'] = country_avg_df['birthCountry'].apply(getHRAVGForCountry)
country_avg_df[['PlayerName','birthCountry', 'Country HR PCTILE', 'All Players PCTILE', 'finalGameDate', 'Homeruns', 'AverageHRPerCountry', 'InHallOfFame']]
country_avg_df.sort_values(by='Country HR PCTILE', ascending =False).head(30)

,PlayerName,Homeruns,finalGameDate,Country HR PCTILE,All Players PCTILE,birthCountry,InHallOfFame,AverageHRPerCountry
PlayerID,,,,,,,,
delgc001,Carlos Delgado,473,2009-05-10,1.0,0.99,Puerto Rico,False,57.09
gregd001,Didi Gregorius,120,2020-09-27,1.0,0.86,Netherlands,False,30.75
dubom001,Mauricio Dubon,8,2020-09-27,1.0,0.38,Honduras,False,5.50
walkl001,Larry Walker,383,2005-10-19,1.0,0.99,Canada,True,59.23
castv001,Vinny Castilla,320,2006-09-28,1.0,0.98,Mexico,False,29.03
pujoa001,Albert Pujols,662,2020-09-26,1.0,1.00,Dominican Republic,False,49.98
solat101,Tony Solaita,50,1979-09-30,1.0,0.70,American Samoa,False,50.00
gomey001,Yan Gomes,103,2020-09-27,1.0,0.83,Brazil,False,58.50
blowm001,Mike Blowers,78,1999-10-03,1.0,0.78,West Germany,False,41.20
bochb002,Bruce Bochy,26,1987-10-04,1.0,0.58,France,False,15.50
bogax001,Xander Bogaerts,118,2020-09-27,1.0,0.86,Aruba,False,60.50
palmr001,Rafael Palmeiro,569,2005-08-30,1.0,1.00,Cuba,False,61.00
martc003,Chito Martinez,18,1993-04-20,1.0,0.51,British Honduras,False,18.00
carer001,Rod Carew,92,1985-10-05,1.0,0.81,Canal Zone,True,46.00
jonea002,Andruw Jones,434,2012-10-03,1.0,0.99,Curacao,False,86.80
parda001,Al Pardo,1,1989-09-09,1.0,0.14,Spain,False,1.00
bondb001,Barry Bonds,762,2007-09-26,1.0,1.00,USA,False,54.31
bertr101,Reno Bertoia,27,1962-04-28,1.0,0.59,Italy,False,16.50
valoe101,Elmer Valo,58,1961-10-01,1.0,0.73,Czechoslovakia,False,58.00
matsh001,Hideki Matsui,175,2012-07-22,1.0,0.92,Japan,False,39.80
thomb105,Bobby Thomson,264,1960-07-17,1.0,0.96,Scotland,False,264.00
lampk101,Keith Lampard,1,1970-10-01,1.0,0.14,England,False,1.00
jennr001,Robin Jennings,3,2001-10-07,1.0,0.25,Singapore,False,3.00
nilsd001,Dave Nilsson,105,1999-10-03,1.0,0.84,Australia,False,23.67
ngoeg001,Gift Ngoepe,0,2018-05-01,1.0,0.05,South Africa,False,0.00
lee-c001,Carlos Lee,358,2012-10-03,1.0,0.98,Panama,False,48.77
rodga101,Andre Rodgers,45,1967-09-30,1.0,0.69,Bahamas,False,13.75
keplm001,Max Kepler,101,2020-09-30,1.0,0.83,Germany,False,47.67
hende103,Elrod Hendricks,62,1979-09-19,1.0,0.74,Virgin Islands,False,21.56
leshb001,Brian Lesher,9,2002-09-28,1.0,0.40,Belgium,False,9.00

# Average Homeruns Per Country

In [42]:
country_batting_df.groupby('birthCountry')[['Homeruns']].mean().sort_values(by = 'Homeruns', ascending =False)

                    Homeruns
birthCountry
Scotland              264.00
Jamaica               189.00
Curacao                86.80
Cuba                   61.00
Aruba                  60.50
Canada                 59.23
South Korea            59.00
Brazil                 58.50
Czechoslovakia         58.00
Puerto Rico            57.09
USA                    54.31
American Samoa         50.00
Dominican Republic     49.98
Panama                 48.77
Germany                47.67
Canal Zone             46.00
Venezuela              44.15
West Germany           41.20
Japan                  39.80
Nicaragua              31.00
Netherlands            30.75
Colombia               30.54
Mexico                 29.03
Australia              23.67
Virgin Islands         21.56
British Honduras       18.00
Italy                  16.50
France                 15.50
Bahamas                13.75
Belgium                 9.00
Honduras                5.50
Singapore               3.00
Spain                   1.00
Taiwan                  1.00
England                 1.00
South Africa            0.00
Saudi Arabia            0.00

## What does it take to get into the Hall Of Fame?

In [43]:
career_batting_df.groupby('InHallOfFame').mean()

,Games,AtBats,Runs,Hits,Doubles,Triples,Homeruns,RBI,Walks,IntentionalWalks,...,BattingAVG,On_BasePercent,SluggingPercent,BFW,AVGGamesPerYear,careerLength,CareerLength_Years,MonthsExtra,YearOfInduction,All Players PCTILE
InHallOfFame,,,,,,,,,,,,,,,,,,,,,
False,581.41,1805.52,236.18,472.57,85.34,11.62,49.08,222.61,175.23,14.89,...,0.24,0.30,0.36,-0.42,61.71,7.71,7.71,3.97,0.00,0.49
True,2108.87,7627.07,1196.21,2205.88,382.23,60.98,289.65,1149.98,917.45,113.00,...,0.28,0.36,0.46,30.34,118.18,17.15,17.15,3.87,1997.07,0.87