In [2]:
import mysql.connector
from dotenv import load_dotenv
from datetime import datetime
import pandas as pd
import os
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

pd.set_option('precision', 2)

In [3]:
def connect_to_SQL():
    load_dotenv()
    username, password = os.getenv("USERNAME"), os.getenv("PASSWORD")
    conn = mysql.connector.connect(user=os.getenv("USERNAME"), password=os.getenv("PASSWORD"),
                                   host='127.0.0.1')
    engine = create_engine(f'mysql+pymysql://{username}:{password}@localhost/baseballStats_db')
    cursor = conn.cursor()
    return cursor, conn, engine

In [4]:
cursor, conn, engine = connect_to_SQL()
connection = engine.connect()

In [7]:
pitching_stats_df = pd.read_sql('CareerPitchingStats', engine, index_col = ['PlayerID'])
pitching_stats_df

,Games,GamesStarted,CompleteGames,Shutouts,GamesFinished,Saves,InningsPitched,Hits,BFP,Homeruns,...,Triples,GroundedIntoDoublePlays,ROE,Wins,Losses,ERA,RunSupport,PW,AVGGamesPerYear,careerLength
PlayerID,,,,,,,,,,,,,,,,,,,,,
aardd001,331,0,0,0,141,69,337,296,1475,41,...,4,21,8,16,18,4.27,0.00,2.1,27.58,12
aased001,448,91,22,5,235,82,1109,1085,4730,89,...,28,106,57,66,60,3.80,4.56,4.5,32.00,14
abadf001,384,6,0,0,97,2,330,309,1399,42,...,5,25,17,8,29,3.67,1.67,0.4,38.40,10
abbog001,248,206,37,5,13,0,1286,1405,5508,162,...,39,111,81,62,83,4.39,4.23,-7.4,22.55,11
abboj001,263,254,31,6,5,0,1674,1779,7211,154,...,18,200,112,87,108,4.25,4.26,0.1,23.91,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zimmk001,31,1,0,0,7,0,41,42,193,2,...,1,4,3,1,1,5.66,3.00,-0.1,15.50,2
zitob001,433,421,12,5,9,0,2576,2381,11001,282,...,46,219,106,165,143,4.04,4.53,5.1,27.06,16
zumaj001,171,0,0,0,35,5,209,169,911,18,...,5,10,13,13,12,3.05,0.00,2.7,34.20,5
zuveg101,265,31,9,2,139,40,642,660,2746,56,...,16,58,57,32,36,3.54,3.45,1.1,29.44,9
zycht001,70,1,0,0,14,1,72,57,309,3,...,1,6,1,7,3,2.72,6.00,1.7,23.33,3